.git
node_modules
coverage
.env*
*.md
docker-compose*
docs
grafana
prometheus
schemas
scripts
tasks
test
k8s
.github
.vscode
.eslintrc.js
.prettierrc
jest.config.*
tsconfig.json
tsconfig.build.json
nest-cli.json
